@model Personal_Finance_Tracker_APIConsume_App.Areas.Transaction.ViewModels.TransactionViewModel

@{
    ViewData["Title"] = "UpdateTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Transaction</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateTransaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="TransactionID" class="form-control" />
            <input type="hidden" asp-for="UserID" class="form-control" />

            <div class="form-group mb-2">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label class="control-label mb-2">Type</label>
                @foreach (var type in Enum.GetValues(typeof(Personal_Finance_Tracker_APIConsume_App.Areas.Transaction.ViewModels.Type)))
                {
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" asp-for="Type" value="@type" id="Type_@type" />
                        <label class="form-check-label" for="Type_@type">@type</label>
                    </div>
                }
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Save" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-warning">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
