@model Personal_Finance_Tracker_APIConsume_App.Areas.User.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container bg-secondary rounded-3 p-5 text-white">
    <div class="row ">
        <div class="col-12 d-flex flex-column align-items-center ">
            <i class="fa-solid fa-unlock-keyhole fs-1"></i>
            <p class="mt-4 fs-1 fw-bolder">New Credentials</p>
            <p class="fw-lighter fs-6">Your Identity Has Been Verified!<br /><span class="d-flex justify-content-center align-items-center">Set Your New Password</span></p>
        </div>
        <form asp-action="ChangePassword" method="post">
            <div class="col-12 mb-2">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="Password" class="form-control" id="password" />
                <span asp-validation-for="Password" id="error_msg_password" class="text-danger"></span>
            </div>
            <div class="col-12 mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control" id="confirm_password" />
                <span asp-validation-for="ConfirmPassword" id="error_msg_confirm_password" class="text-danger"></span>
            </div>
            <div class="col-12">
                <input type="submit" value="Change" class="btn btn-success w-100" id="submitBtn">
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}