@model Personal_Finance_Tracker_APIConsume_App.Areas.User.Models.EmailModel

@{
    ViewData["Title"] = "ForgotPasswordPage";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link rel="stylesheet" href="~/css/forgotpassword.css" asp-append-version="true" />
<div class="container bg-light p-5 rounded-3">
    <span class="text-danger">@TempData["Error_Msg"]</span>
    <h1 id="heading">ForgotPassword</h1>
    <div class="sending mt-5">
        Sending<span class="dots">...</span>
    </div>
    <p class="mt-3 mb-5 form_field">Provide your account's email for which you want to <br /> reset your password </p>
    <div class="row">
        <div class="col-12">
            <div class="form_field">
                <div class="col-12 form-group mb-3">
                    <label>Enter Email Address</label>
                    <input class="form-control" autocomplete="off" id="email" placeholder="Email" />
                    <span id="email_error" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Submit" class="btn btn-primary w-100 fw-bold" id="go_to_verify_page" />
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-center form_field">
        <a asp-area="User" asp-controller="User" asp-action="Login">Back to Login</a>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        const go_to_verify_page_btn = document.getElementById("go_to_verify_page");
        const emailError = document.getElementById("email_error");

        $(".sending").hide();

        go_to_verify_page_btn.addEventListener('click', () => {

            const emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
            const email = document.getElementById('email').value;

            emailError.textContent = "";

            if (!email) {
                emailError.textContent = "Please enter an email address.";
                return;
            }

            if (!emailRegex.test(email)) {
                emailError.textContent = "Please enter a valid email address.";
                return;
            }

            $('.sending').show();
            $('.form_field').hide();

            $.ajax({
                type: "POST",
                url: "@Url.Action("ForgotPassword", "User")",
                data: { receptor_email: email },
                success: function (response) {
                    console.log(response);
                    if (response.success) {
                        $('.sending').hide();
                        window.location.href = "@Url.Action("VerificationPage", "User")"
                    } else {
                        emailError.textContent = "Failed to send email. Please try again.";
                    }
                },
                error: function (response) {
                    $('.sending').hide();
                    $('.form_field').show();
                    emailError.textContent = "Sorry You Are Not Registered.";
                    console.log(respose);
                },
                complete: function () {
                    $('.sending').hide();
                }
            });
        });

    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
