@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    Token : @accessor.HttpContext.Session.GetString("Token")<br />
    UserID : @accessor.HttpContext.Session.GetString("UserID")<br />
    UserName : @accessor.HttpContext.Session.GetString("UserName")<br />
    Email : @accessor.HttpContext.Session.GetString("Email")<br />

</div>