@model Personal_Finance_Tracker_APIConsume_App.Areas.User.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true"/>
<div class="container">
    <div class="row g-0">
        <div class="col-12 col-md-12 col-lg-6 text-center">
            <video src="~/Images/Login_Video.mp4" loop autoplay muted class="login-video-section">
            Your Browser Not Supporting This Video...
            </video>
        </div>
        <div class="col-12 col-md-12 col-lg-6 bg-light d-flex justify-content-lg-start p-4">
            <div class="row d-flex justify-content-between">
                <div class="col-12">
                    <div class="h2 fw-bolder heading_txt">Login</div>
                    <div class="mt-3 text-secondary">Please login to continue</div>
                </div>
                <div class="col-12 mb-5 d-flex flex-column justify-content-around">
                    <form method="post" asp-action="LoginUser">
                        <div class="mb-3">
                            <input type="text" asp-for="UserName" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
                        </div>
                        <div class="mb-3">
                            <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="mb-3 d-flex justify-content-between">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                            <div class="forgot_password">
                                Forgot Password?
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                        </div>
                        <div class="text-secondary sign_up_text">
                            Don't have an account? <span class="fw-bold sign_up_now">Sign Up Now</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
