@model Personal_Finance_Tracker_APIConsume_App.Areas.User.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link rel="stylesheet" href="~/css/LoginPage.css" asp-append-version="true" />
<div class="container">
    <div class="row g-0">
        <div class="col-12 col-md-12 col-lg-6 text-center">
            <video src="~/Images/Login_Video.mp4" loop autoplay muted class="login-video-section">
                Your Browser Not Supporting This Video...
            </video>
        </div>
        <div class="col-12 col-md-12 col-lg-6 bg-light d-flex justify-content-lg-start p-4">
            <div class="row d-flex justify-content-between">
                <div class="col-12">
                    <div class="h2 fw-bolder heading_txt">Register</div>
                </div>
                <div class="col-12 mb-5 d-flex flex-column justify-content-around">
                    <form method="post" asp-action="SignUp">
                        <div class="mb-3">
                            <input type="text" asp-for="UserName" class="form-control" id="exampleInputEmail1" placeholder="UserName">
                        </div>
                        <div class="mb-3">
                            <input type="email" asp-for="Email" class="form-control" id="exampleInputPassword1" placeholder="Email">
                        </div>
                        <div class="mb-3">
                            <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                        </div>
                        <div class="text-secondary sign_up_text">
                            <a asp-area="User" asp-controller="User" asp-action="Login">
                                Already Have an account? <span class="fw-bold sign_up_now">Login</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
