@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Urbanist", serif;
    letter-spacing: 1px;
    font-weight:600;
}
#heading {
    font-family: "DM Serif Text", serif;
}
a{
    text-decoration:none
}
.sending {
    display: none; /* Hidden by default */
    font-size: 18px;
    color: #3498db;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.dots::after {
    content: '';
    display: inline-block;
    animation: dots-blink 1.5s steps(3, end) infinite;
}

/* Keyframes for blinking dots animation */
@keyframes dots-blink {
    0% {
        content: '';
    }

    33% {
        content: '.';
    }

    66% {
        content: '..';
    }

    100% {
        content: '...';
    }
}



