*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
:root {
    --bs-primary-color: #1d2ff5;
    --bs-secondary-color: #a9ada5;
}
.login-video-section{
    width:30rem;
}
.forgot_password{
    color:var(--bs-primary-color)
}
