*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
:root {
    --bs-primary-color: #1d2ff5;
    --bs-secondary-color: #a9ada5;
}
.login-video-section{
    width:30rem;
}
.heading_txt{
    color:var(--bs-primary-color)
}
.forgot_password {
    color: var(--bs-primary-color);
    text-decoration:none;
}
.sign_up_text{
    font-size:0.9em;
    letter-spacing:1px
}
.sign_up_now {
    font-size: 0.8em;
    color: red;
}
.sign_up_now:hover{
    cursor:pointer;
}
li{
    list-style:none;
}